%ul.nav
  = nav_link_to_with_icon('', 'icon-home icon-white', root_path, {:class => 'opacity-menu'})
  = nav_dropdown(t(:'menu.users')) do
    = nav_link_to(t(:'menu.users'), users_path)
%ul.nav.pull-right
  %li
    .btn-group
      = link_to_with_icon(t(:'menu.sign_out'), 'icon-off icon-white', sign_out_path, {:class => 'btn btn-inverse', method: :delete})
